/*---------Style sheet for Bridgend Maths and Physics website--------------*/


/*---------------Global styles----------------*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: wheat;
    font-family:  'Oswald', sans-serif;
}
/* Ensures section heading not hidden on scroll */
section {
    scroll-margin: 5rem;
}

hr {
    border: solid 1px rgb(23, 3, 37);
    width: 20%;
    margin: auto;
}

/* ------------Hero section styles----------*/

#hero {
    background-color: rgb(23, 3, 37);
    color: rgb(243, 183, 53);
    height: 75vh;
    background-image: url("../images/bg-image-lg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero h1 {
    
    font-weight: 600;
}

/*----------cta button styles -------------------*/
.cta-button {
    color: rgb(23, 3, 37);
    background-color: rgb(243, 183, 53);
    font-size: 1.5rem;
    padding: 1rem;
}


/* -----------------Testimonial section styles----------*/

.card-testimonial {
    background-color: rgb(23, 7, 37);
    color: rgb(243, 183, 53);
    min-height: 500px;
    font-size: 1.5rem;
}

.card img {
    object-fit: cover; 
    width: 10rem; 
    height: 10rem;
}

/*-----------------Features section styles--------------*/

.card-feature {
    background-color: rgb(23, 7, 37);
    color: rgb(243, 183, 53);
    min-height: 400px;
    font-size: 1.5rem;
}

/*-------Navbar styles------------ */
 #myNav a {
    color: rgb(243, 183, 53);
}

/*  */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(243, 183, 53);
  }

/*-----------------About section styles--------------*/

.about-content {
    background-color: rgb(255, 255, 255);
    padding-top: 20%;
    padding-bottom: 20%;
    min-height: 400px;
}

/*-----------------Contact section styles------------*/

.contact-section {
    font-size: 1rem;
    min-height: 400px;
    background-color: white;
}

.contact-list {
    list-style: none;
}

.contact-icons {
    font-size: 2rem;
    letter-spacing: 1rem;
}

/*-----------------About section styles--------------*/

.footer-text {
    background-color: rgba(23, 3, 37);
    color: rgba(243, 183, 53);
}

/* --------------------Media queries-----------------*/

/* --------------Hero section-------------------- */

/* Applies absolute positioning for large and up devices*/

@media only screen and (min-width: 992px) {

    /* 992px is the bootstrap breakpoint for large devices*/
    #hero-text-main {
        position: absolute;
        top: 20%;
        left: 5%;
    }

    #hero-text-secondary {
        position: absolute;
        top: 40%;
        left: 5%;
    }

    #hero-section .cta-button {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}