/*Stylesheet for Bridgend Maths and Physics website*/

/*Global styles*/
body {
    background-color: blueviolet;
}

/* Hero section styles*/

#hero {
    background-color: rgb(23, 3, 37);
    color: rgb(236, 164, 8) ;
    height: 75vh;
}

#hero-text-main {
    position: absolute;
    top: 20%;
    left: 5%;
    /*color: whitesmoke;*/
}
#hero-text-secondary {
    position: absolute;
    top: 40%;
    left: 5%;
    /*color: whitesmoke;*/
}
#cta-button {
    color: black;
    background-color: darkorange;
    position: absolute;
    bottom: 10%;
    right: 5%;
}

/* Testimonial section styles*/

.card {
    background-color: rgb(23, 7, 37);
    color: rgb(236, 164, 8);
}

/* Media queries*/

@media only screen and (max-width: 780px) {
    #hero {
      text-align: center;
    }
    #hero-text-main {
        position: static;
    }
    #hero-text-secondary {
        position: static;
    }
    #cta-button {
        
        position: static;
    }
  }