/*---------Stylesheet for Bridgend Maths and Physics website--------------*/

/*---------------Global styles----------------*/

body {
    background-color: rgb(162, 149, 173);
}

hr {
    border: solid 1px rgb(23, 3, 37);
    width: 20%;
    margin: auto;
}

/* ------------Hero section styles----------*/

#hero {
    background-color: rgb(23, 3, 37);
    color: rgb(243, 183, 53);
    height: 75vh;
}

#cta-button {
    color: rgb(23, 3, 37);
    background-color: rgb(243, 183, 53);
}


/* -----------------Testimonial section styles----------*/

.card-testimonial {
    background-color: rgb(23, 7, 37);
    color: rgb(243, 183, 53);
    min-height: 400px;
    font-size: 1.5rem;
}

/*-----------------Features section styles--------------*/

.card-feature {
    background-color: rgb(23, 7, 37);
    color: rgb(243, 183, 53);
    min-height: 400px;
    font-size: 1.5rem;
}

/*-----------------About section styles--------------*/

.about-content {
    background-color: rgb(255, 255, 255);
    padding-top: 20%;
    padding-bottom: 20%;
    /* flex about section to fit variable content length*/
    /*font-size: 1.5rem;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;*/
    min-height: 400px;
}

/*-----------------Contact section styles------------*/

.contact-section {
    font-size: 1rem;
    min-height: 300px;
}

.contact-list {
    list-style: none;
}

/*-----------------About section styles--------------*/

.disclaimer {
    background-color: rgba(23, 3, 37, 0.5);
    color: rgba(243, 183, 53, 0.5);
}

/* --------------------Media queries-----------------*/

/* --------------Hero section-------------------- */

/* Applies absolute positioning for large and up devices*/
@media only screen and (min-width: 992px) {

    /* 992px is the bootstrap breakpoint for large devices*/
    #hero-text-main {
        position: absolute;
        top: 20%;
        left: 5%;
    }

    #hero-text-secondary {
        position: absolute;
        top: 40%;
        left: 5%;
    }

    #cta-button {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}