/*---------Stylesheet for Bridgend Maths and Physics website--------------*/

/*---------------Global styles----------------*/
body {
    background-color: blueviolet;
}

/* ------------Hero section styles----------*/

#hero {
    background-color: rgb(23, 3, 37);
    color: rgb(236, 164, 8) ;
    height: 50vh;
}

#cta-button {
    color: black;
    background-color: darkorange;
}


/* -----------------Testimonial section styles----------*/

.card {
    background-color: rgb(23, 7, 37);
    color: rgb(236, 164, 8);
}

/* --------------------Media queries-----------------*/

/* --------------Hero section-------------------- */

/* Applies absolute positioning for large and up devices*/
  @media only screen and (min-width: 992px) {  /* 992px is the bootstrap breakpoint for large devices*/
    #hero-text-main {
        position: absolute;
        top: 20%;
        left: 5%;
    }

    #hero-text-secondary {
        position: absolute;
        top: 40%;
        left: 5%;
    }

    #cta-button {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}